<launch>

    <arg name="gazebo" default="true"/>
    <arg name="rviz" default="true"/>

    <include if="$(arg gazebo)" file="$(find centauro_gazebo)/launch/centauro_world.launch">
        <arg name="velodyne" value="true"/>
        <arg name="realsense" value="true"/>
        <arg name="end_effector_right" value="dagana"/>

        <arg name="world_name" value="$(find gazebo_odom)/world/exploration_world.world"/>
    </include>

    <node if="$(arg rviz)" type="rviz" name="rviz" pkg="rviz" args="-d $(find gazebo_odom)/config/eurobin_view.rviz" />

    <node pkg="tf2_ros" type="static_transform_publisher" name="ci_world_connecter"
            args="0 0 0 0 0 0 1 odom ci/world" />

    <node pkg="tf2_ros" type="static_transform_publisher" name="map_T_odom"
            args="0 0 0 0 0 0 1 odom map" />

    <include file="$(find gazebo_odom)/launch/gazebo_odom.launch"/>

</launch>