<?xml version="1.0" ?>
<launch>

    <arg name="frontiers_2d" default="true"/>

    <group if="$(arg frontiers_2d)">
        <node pkg="frontier_extraction" type="Frontier2DExtractionNode" name="Frontier2DExtractionNode" output="screen"/>
    </group>

    <group unless="$(arg frontiers_2d)">
        <node pkg="frontier_extraction" type="Frontier3DExtractionNode" name="Frontier3DExtractionNode" output="screen"/>
    </group>
    
 </launch>
