<launch>
    <arg name="frontiers_2d" default="false"/>  

    <!-- Cloud Filtering -->
    <include file="$(find hhcm_perception)/launch/filtering.launch"/>
    
    <!-- TODO -->
    <!-- Cloud Merging -->
    <!-- <include file="$(find perception_utils)/launch/merge_clouds.launch" pass_all_args="true">
        <arg name="cloud_source1" value="/D435_front2/depth/color/points_filtered"/>
        <arg name="cloud_source2" value="/D435_left/depth/color/points_filtered"/>
        <arg name="merged_cloud" value="/merged_cloud"/>
    </include> -->

    <!-- GLIM -> SLAM -->
    <!-- <node pkg="glim_ros" name="glim_rosnode" type="glim_rosnode"/>  -->
    
    <!-- Nav Stack -->
    <include file="$(find centauro_ros_nav)/launch/centauro_nav_exploration.launch" pass_all_args="true">
        <arg name="use_teb" value="true"/>
        <arg name="octomap1_input_src" value="/velodyne_points_filtered"/>
        <arg name="octomap2_input_src" value="/D435i/D435i_camera/depth/color/points_filtered"/>
        <!-- <arg name="octomap2_input_src" value="/merged_cloud"/> -->  <!-- comment this to use only front camera -->
    </include>

    <!-- Frontier Extraction -->   
    <include file="$(find frontier_extraction)/launch/frontier_extraction.launch">
        <arg name="frontiers_2d" value="$(arg frontiers_2d)"/>
    </include>

    <rosparam command="load" file="$(find exploration_manager)/config/exploration_config.yaml"/>

    <!-- Exploration BT -->
    <arg name="BT_file" default="$(find exploration_manager)/config/exploration_bt.xml"/>
    <node pkg="exploration_manager" name="exploration_main" type="exploration_main" output="screen" args="$(arg BT_file)"/>

</launch> 
